<div class="container-fluid">
  <div class="col-sm-4">
    <hr>
    <app-ngbd-tabset-basic>
      <div class="app-code-cURL">
        {{ content }}
      </div>
      <div class="app-code-javascript">
        {{ content1 }}
      </div>
      <div class="app-code-go">
        {{ content2 }}
      </div>
      <div class="app-cURL-result">
        {{ content3 }}
      </div>
      <div class="app-javascript-result">
        {{ content4 }}
      </div>
      <div class="app-go-result">
        {{ content5 }}
      </div>
    </app-ngbd-tabset-basic>
  </div>
</div>